// Colors ----------------------------------------------------------------

// Background
$bg-primary: #f1f0ea;
// Text
$text-primary: #1b1a1ede;
$text-secondary: #1b1a1e99;
// Basic
$white: #ffffff;
$cta-color: #ea1917;

// Border Radius
$border-radius--lg: 64px;
$border-radius--md: 32px;
