.tabs {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 32px !important;
  transition: opacity 500ms ease !important;
}

.tab {
  span {
    color: #646464 !important;
    font-size: 18px;
    font-weight: 600 !important;
    line-height: 19.8px;
    letter-spacing: -0.02em;
  }

  button {
    cursor: pointer;
    background-color: none;
    outline: none;
    border: none;
    background: none;
  }

  &_active {
    span {
      color: #1a1a1a !important;
      text-decoration: underline !important;
      text-underline-offset: 8px !important;
      text-decoration-thickness: 3px !important;
      text-decoration-color: #ea1917 !important;
    }
  }
}

.content-inner {
  display: none;
  visibility: hidden;
  opacity: 0;
  &_visible {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}
