.variant_primary {
  a {
    background-color: white !important;
    color: white !important;
    font-family: "LG EI" !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 24px !important;
    letter-spacing: 0.05em !important;
    text-align: left !important;
    padding: 8px 20px !important;
    text-transform: capitalize !important;
  }

  a:after {
    transition: none !important;
    background-color: #ea1917 !important;
    color: black;
    text-transform: capitalize !important;
  }

  a:hover {
    background-color: white;
    color: black !important;
    outline: 1px solid black !important;
    text-transform: capitalize !important;
  }
}

.variant_white {
  a {
    background-color: white !important;
    color: black !important;
    outline: 1px solid black !important;
    line-height: 24px !important;
  }
  a::after {
    background-color: white !important;
    transition: none !important;
  }

  a:hover {
    background-color: #ea1917 !important;
    color: white !important;
    outline: 1px solid #ea1917 !important;
  }
}

.full_width {
  width: 100% !important;
}
